{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Playlist 1
  </h3>
  <p>
    A Little Playlist Maker - Version 1
  </p>
  <p>
    This will store all your songs and allow you to cancel your subscription to Spotify! 
  </p>
</section>
<section class="ui center aligned middle aligned segment">
  <h2>
    Contact Details
  </h2>
  <p>
    Hemingway House,
    Unit 3
    Sandvalley Industrial Estate
    555 0124378
  </p>
</section>